<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
   
</head>

<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="brand-logo" >
           <img src="../img/favicon.png" alt="" srcset="">
        </div>
        <div class="w3-display-middle">
            <hr class="w3-border-grey" style="margin:auto;width:70% ">
            <h1 class="text-style w3-animate-top">HELLO WORLD!</h1>
            <hr class="w3-border-grey" style="margin:auto;width:70%">
            <!-- <p class="w3-large w3-center">35 days left</p> -->
        </div>
        <div class="w3-display-bottomleft w3-padding-large">
            Powered by <a href="https://eap.my.com" target="_blank">Document</a>
        </div>
    </div>

</body>

</html>